<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.cutiko.dance">

    <application>
        <activity
            android:name=".DanceActivity"
            android:label="@string/title_activity_dance"
            android:theme="@style/FullscreenTheme.White"/>
    </application>

</manifest>